
# project settings
.classpath
.project
.settings

# ide
.vscode

# build process
target/

# generated folders
selvebridge-*
docker/app/selvebridge-*

# testing
docker/app/*.jar
application-parameter-info.yml
